extends ../../wrapper.pug

block vars
	- var currentPage = prestation[2]
	- var metaDesc = 'Je vous propose des pistes d’améliorations en termes d’accessibilité, de SEO, d’éco-conception, d’ergonomie, d’éditorial, et bien d’autres.'

block append styles
	link(href="/dest/css/pages/prestations.min.css", rel="stylesheet")
	link(href="/dest/css/pages/quality.min.css", rel="stylesheet")

block prepend title-page
	| Audit qualité web - 

block main
	.container
		h1 Audit qualité web
		p(class="h4 fw-regular text-system lh-base md:text-center") Vous avez déjà un site web ? Je peux vous rédiger un compte-rendu des manquements relatifs à l’<strong class="highlighted-term">assurance qualité web</strong>.<br>Et ainsi vous proposer des pistes de <b>corrections</b> et d’<b>améliorations</b> en termes d’accessibilité, de SEO, d’éco-conception, d’ergonomie, de respect des données personnelles, d’éditorial, et bien d’autres.
		div(class="row pt-2 md:pt-3")
			div(class="col-12 md:col-6 lg:col-8")
				h2 Assurance <span class="highlighted-term">qualité</span> web ?
				p Lorsque vous acquérez un bien, admettons une voiture (je m’embarque là-dedans alors que je n’y connais rien en automobile) : vous ne vous contentez pas de demander à ce qu’elle remplisse son <b>objectif</b>, c’est-à-dire rouler. Vous avez envie d’une certaine <b>expérience</b> de conduite, c’est-à-dire qu’elle soit confortable, que sa couleur vous plaise, vous souhaitez éventuellement qu’elle consomme peu, qu’elle soit silencieuse peut-être, qu’elle ait une bonne capacité de stockage ou quelques options qui vous sont indispensables.
				p Pour un utilisateur, c’est la même chose : il visite votre site pour remplir un <b>objectif</b> mais celui-ci sera conditionné par l’<b>expérience</b> que vous lui proposez : 
				ul
					li Le site a-t-il été facile à trouver via les moteurs de recherche ? 
					li Est-il utilisable par tout le monde peu importe les capacités physiques ou mentales ? 
					li Respecte-t-il les préférences utilisateurs et les données personnelles ? 
					li Fonctionne-t-il quel que soit le navigateur web utilisé ? S’affiche-t-il convenablement sur de faibles connexions ?
			div(class="col-6 md:col-6 lg:col-3 mx-a")
				img(src="/dest/img/svg/prestation-qualite-web.svg" width="290" height="400" class="mx-a" alt="")
		div(class="row justify-center")
			div(class="col-12 lg:col-8") 
				div(class="full-bleed my-3 py-2 fs-2" style="--c: var(--color-secondary-lightest)")
					p Votre site n’est pas qu’une interface : c’est <b>un ensemble de contenus et services numériques</b> dont s’entremêlent la confiance et l’engagement de vos utilisateurs, votre retour sur investissement, la maintenabilité et évolutivité technique et éditoriale du site.
				h2 La checklist <span class="highlighted-term">Opquast</span>
				p Ainsi, je vous propose une prestation d’audit d’assurance qualité web, en me basant, en plus de mon appréciation personnelle, sur le référentiel <a href="https://www.opquast.com/">Opquast</a> et ses 240 règles, ces dernières étant <b>transversables</b> (compréhensibles par tout le monde), <b>objectives</b> (c’est-à-dire éprouvées, réalistes et vérifiables), <b>durables</b> dans le temps et consensuellement <b>utiles</b> pour vos utilisateurs.
				h2 Votre <span class="highlighted-term">intérêt</span>
				p Pour que vous vous projetiez plus facilement sur ce que peut vous apporter l’assurance qualité web, vulgarisons un peu quelques-unes des thématiques abordées dans ce référentiel :
		div(class="row justify-center pt-3 mb-4 pillars")
			div(class="col-12 lg:col-6 d-none lg:d-flex bricks") 
				div(class="bricks")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
					img(src="/dest/img/svg/brick-grey.svg" width="100" height="89" alt="")
				img(src="/dest/img/svg/brick-primary.svg" width="100" height="89" alt="")
				img(src="/dest/img/svg/brick-secondary.svg" width="100" height="89" alt="")
				img(src="/dest/img/svg/brick-primary.svg" width="100" height="89" alt="")
				img(src="/dest/img/svg/brick-secondary.svg" width="100" height="89" alt="")
				img(src="/dest/img/svg/brick-primary.svg" width="100" height="89" alt="")
			div(class="col-12 lg:col-6") 
				mixin item(text, icon)
					h3(class="d-flex align-center")
						svg(class="mr fs-larger text-secondary" aria-hidden="true") 
							use(xlink:href="/dest/img/sprite.svg#icon-"+icon)
						=text
				div(class="item")
					+item('Référencement', 'search')
					p Votre site est correctement indexé par les moteurs de recherche ?
						<br>Si oui, les internautes vous trouveront plus facilement.
				div(class="item")
					+item('Performances', 'rocket')
					p Votre site est-il rapide à s’afficher ?
						<br>Si oui, vous augmentez l’engagement de vos utilisateurs.
				div(class="item")
					+item('Éco-conception', 'leaf')
					p Votre site est-il consultable sur de vieux smartphones ?
						<br>Si oui, vous fortifiez la fidélité de vos utilisateurs.
				div(class="item")
					+item('Confidentialité', 'user')
					p Votre site respecte-t-il les données personnelles des visiteurs ?
						<br>Si oui, vous renforcez la confiance de vos utilisateurs.
				div(class="item")
					+item('Accessibilité', 'accessible')
					p Votre site est-il consultable par les personnes handicapées ?
						<br>Si oui, vous avez une longueur d’avance de 15% d’audience potentielle vis-à-vis des autres sites qui ne s’en soucient pas. Et vous améliorez votre image.
	include ../../partials/_devis.pug
	div(class="container text-center pt-3 md:pb-3 lg:py-4")
		h2 Vous souhaitez un audit 100% orienté accessibilité ?
		p.h3.text-system.fw-regular.lh-base Consultez les détails de <a href="/prestations/accessibilite-numerique">mes prestations en matière d'accessibilité web</a>.