extends wrapper.pug

block append styles
	link(href="dest/css/pages/index.min.css", rel="stylesheet")

block title-page
	title Alexis DEGRYSE - French UI Developer

block main
	section(aria-labelledby="about-me-title", id="about-me", class="about-me bg-black")
		h2(id="about-me-title", class="sr-only") About me
		img(src="dest/img/about-me-bg--lg.jpg", srcset="dest/img/about-me-bg.jpg 768w, dest/img/about-me-bg--md.jpg 1200w, dest/img/about-me-bg--lg.jpg 1868w", sizes="100vw", class="about-me__bg", alt="", data-initial-width="1868", data-initial-height="1280")
		div(aria-hidden="true", class="headphone")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-note-1")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-code")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-note-3")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-mushroom")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-note-2")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-triforce")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-note-1")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-pokeball")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-note-2")
			svg(class="icon headphone__icon")
				use(xlink:href="#icon-dragonball")
		.container
			h3.sr-only Presentation
			div(class="row justify-center lg:justify-start")
				div(class="col-12 mb-0 md:col-10 lg:col-6")
					.about-me__content
						.h2-like.text-serif Hello !
						p.fs-1 My name is <strong class="text-primary-lightest fw-semibold">Alexis Degryse</strong>.
						p I’m an experienced <strong class="text-primary-lightest fw-semibold">UI developer</strong class="text-primary-lightest fw-semibold"> ( <strong class="text-primary-lightest fw-semibold" lang="fr">intégrateur web</strong class="text-primary-lightest fw-semibold"><span class="sr-only"> in french</span> <svg aria-hidden="true" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21"><path d="M2.4 0C1.1 0 0 1.1 0 2.4v16.2C0 19.9 1.1 21 2.4 21h8.3V0H2.4z" fill="#41479b"/><path d="M10.7 0h10.7v21H10.7V0z" fill="#f5f5f5"/><path d="M29.6 0h-8.3v21h8.3c1.3 0 2.4-1.1 2.4-2.4V2.4C32 1.1 30.9 0 29.6 0z" fill="#ff4b55"/></svg> ) and I currently work with INEAT Group (located in Lille, France) as Tech Lead. I’m in charge of technical support of all interface-related topics (semantic, accessibility, ergonomics, SEO, performance, responsive, animation, etc.).
						p I sometimes do some other stuff like <strong class="text-primary-lightest fw-semibold">job interviews</strong class="text-primary-lightest fw-semibold">, <strong class="text-primary-lightest fw-semibold">teaching</strong class="text-primary-lightest fw-semibold"> and <strong class="text-primary-lightest fw-semibold">career management</strong class="text-primary-lightest fw-semibold">.
					.about-me__content.mt
						p I’m really into <strong class="text-primary-lightest fw-semibold">HTML</strong class="text-primary-lightest fw-semibold"> &amp; <strong class="text-primary-lightest fw-semibold">CSS</strong class="text-primary-lightest fw-semibold">. Those languages, which are - as I like to say - easy to learn but hard to master, are my daily tools and constitute the main thread of my self-learning.
						p I do my best to keep my skills updated in order to always provide the most suitable solutions for any project and give best advices about the <strong class="text-primary-lightest fw-semibold">implications</strong class="text-primary-lightest fw-semibold"> and <strong class="text-primary-lightest fw-semibold">feasibility</strong class="text-primary-lightest fw-semibold"> of UI ideas.
					.text-center.mt
						a(href="#skills", class="btn btn--primary btn--large btn--rounded", title="See more about me")
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-chevron-down")
		aside.about-me__networks(aria-labelledby="about-me-networks-title")
			h3(id="about-me-networks-title", class="sr-only") You can find me on
			a(href="https://twitter.com/twogrey", target="_blank", rel="noopener noreferrer", title="Twitter", aria-describedby="new-window")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-twitter")
			a(href="https://h4.io/@twogrey", target="_blank", rel="noopener noreferrer", title="Mastodon", aria-describedby="new-window")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-mastodon")
			a(href="https://codepen.io/twogrey", target="_blank", rel="noopener noreferrer", title="Codepen", aria-describedby="new-window")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-codepen")
			a(href="https://www.linkedin.com/in/%F0%9F%8E%B2-alexis-degryse-02b640b0", target="_blank", rel="noopener noreferrer", title="Linkedin", aria-describedby="new-window")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-linkedin")
			a(href="mailto:alexis.degryse@gmail.com", title="Contact me by email at the following address : alexis.degryse@gmail.com")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-envelop")
	.skewed.skewed--bottom
		section(aria-labelledby="skills-title", id="skills", class="skills py-3 md:py-4 lg:py-5")
			.container
				.row
					div(class="col-12 mb-0 lg:mb-2")
						h2(id="skills-title", class="h2-gradient mb-2 md:mb-3 lg:mb-4") Experienced with
						include partials/skills.pug
	section(aria-labelledby="certifications-title", id="certifications", class="py-3 md:py-4 lg:py-5 bg-lightgrey text-black")
		.container
			.row
				div(class="col-12 text-center mb-2 md:mb-3 lg:mb-4")
					h2(id="certifications-title", class="h2-rect") 
						span Certifications
			include partials/certifications.pug
	.skewed.skewed--both
		section(aria-labelledby="extra-stuff-title", id="extra-stuff", class="py-3 md:py-4 lg:py-5 bg-black")
			.container
				.row
					div(class="col-12 text-center mb-2 md:mb-3 lg:mb-4 lg:mt-2")
						h2(id="extra-stuff-title", class="h2-gradient") Extra stuff
				include partials/extra-stuff.pug
	section(aria-labelledby="career-title", id="career", class="py-3 md:py-4 lg:py-5 bg-lightgrey text-black")
		.container
			.row
				div(class="col-12 text-center mb-2 md:mb-3 lg:mb-4")
					h2(id="career-title", class="h2-rect") 
						span Career
			include partials/career.pug