doctype html

- var prestation = ['creation-sites-web', 'accessibilite-numerique', 'audit-qualite-web'];
 
block vars

include partials/_mixin.pug 

html(lang="fr")
	head
		title 
			block title-page
				| Alexis Degryse - Conception web et accessibilité numérique
		include partials/_head.pug 

	body(class=bodyClass)

		include partials/_skip-links.pug 

		include partials/_header.pug 
			
		block before-main

		main#contenu(role="main")
			block main
			
		block after-main

		include partials/_footer.pug 

		div(hidden)
			#new-window Ce lien ouvre un nouvel onglet.
			#english-content En anglais.

		//- Scripts
		block scripts-footer 
			script(src="/dest/js/scripts.min.js")
			script(src="/dest/js/components/disclosure.min.js")
			script(async, defer, src="https://scripts.withcabin.com/hello.js")
