doctype html

include partials/mixin.pug 

html(lang="fr")
	head
		title 
			block title-page
				| Alexis Degryse - Conception web et accessibilité numérique
		include partials/head.pug 
 
	block vars

	body(class=bodyClass)

		include partials/skip-links.pug 

		include partials/header.pug 
			
		block before-main

		main#contenu(role="main")
			block main
			
		block after-main

		include partials/footer.pug 

		div(hidden)
			#new-window Ce lien ouvre un nouvel onglet.
			#english-content En anglais.

		//- Scripts
		block scripts-footer 
			script(src="/dest/js/scripts.min.js")
			script(src="/dest/js/components/disclosure.min.js")
			script(async, defer, src="https://scripts.withcabin.com/hello.js")
