mixin item(tag, year, text, url)
	li
		span
			span.tag=tag
			span.tag=year
		span
			=text
			if url
				<br>
				a(href=url) Consulter la certification

ol(role="list")
	+item("Access42", "2022", "Auditer l'accessibilité numérique avec le RGAA", "https://certificate.bcdiploma.com/check/9329046CD54F5D79A35C2AAC63B752CA2CBB1166426AD12E5C4FF99DD2C7E27DZkcwTXd0cUl2K3gxdUllNHFNSkpIZFM2aEt5cnZkbjlUcWZoL3VYTDZ1c0tRZk1J") 
	+item("Opquast", "2021", "Maîtrise de la qualité en projet web - 930/1000 (Expert)", "https://directory.opquast.com/fr/certificat/TU4AYG/") 
	+item("Access42", "2021", "Développer des sites web accessibles", "https://certificate.bcdiploma.com/check/921E87207432C080C751E426575A0C8DB9F9D647EEDE4F5D95B1090AD3C8DD04RWwzNXA3Y2RYbWtYUTl0N2UvRkZqblRraXplbkcxZVZCVXZpd05URHYrVEVFZUFl") 
	+item("Opquast", "2017", "Maîtrise de la qualité en projet web - 880/1000 (Avancé)") 