mixin item(year, text)
	li
		span(style="font-variant-numeric: tabular-nums")=year
		=text

ol(role="list")
	+item("2024", " - Access42 - RAAM : auditer l'accessibilité numérique des applications mobiles") 
	+item("2024", " - Usabilis - Figma") 
	+item("2022", " - Access42 - RGAA : auditer l’accessibilité numérique des sites web") 
	+item("2021", " - Access42 - Développer des sites web accessibles et conformes au RGAA") 
	+item("2019", " - Olivier Noury avec M2i Formation - Comment développer des sites Web accessibles") 