mixin item(tag, year, text)
	li
		span
			span.tag=tag
			span.tag=year
		span=text

ol(role="list")
	+item("Access42", "2024", "RAAM : auditer l'accessibilité numérique des applications mobiles") 
	+item("Usabilis", "2024", "Maîtriser Figma : le logiciel de conception d’interface") 
	+item("Access42", "2022", "RGAA : auditer l’accessibilité numérique des sites web") 
	+item("Access42", "2021", "Développer des sites web accessibles et conformes au RGAA") 
	+item("Olivier Noury", "2019", "Développer des sites Web modernes et conformes au RGAA 3") 