$black: #222;

$grey: #d6dadc;
$lightgrey: mix(white, $grey, 50%);
$darkgrey: mix(black, $grey, 50%);

$color-primary: #246e9f;
$color-primary-lightest: mix(white, $color-primary, 66%);
$color-primary-light: mix(white, $color-primary, 33%);
$color-primary-dark: mix(black, $color-primary, 33%);

$color-secondary: #d7c5b2;
$color-secondary-lightest: mix(white, $color-secondary, 66%);
$color-secondary-light: mix(white, $color-secondary, 33%);
$color-secondary-dark: mix(black, $color-secondary, 33%);

$neutral-colors: (
	'black'     : $black,
	'darkgrey'  : $darkgrey,
	'grey'      : $grey,
	'lightgrey' : $lightgrey
);

$main-colors: (
	'primary'   : $color-primary,
	'secondary' : $color-secondary
);

$colors-shades: (
	'primary-lightest'   : $color-primary-lightest,
	'primary-light'      : $color-primary-light,
	'primary-dark'       : $color-primary-dark,
	'secondary-lightest' : $color-secondary-lightest,
	'secondary-light'    : $color-secondary-light,
	'secondary-dark'     : $color-secondary-dark
);

$all-colors: (
	'primary'            : $color-primary,
	'primary-lightest'   : $color-primary-lightest,
	'primary-light'      : $color-primary-light,
	'primary-dark'       : $color-primary-dark,
	'secondary'          : $color-secondary,
	'secondary-lightest' : $color-secondary-lightest,
	'secondary-light'    : $color-secondary-light,
	'secondary-dark'     : $color-secondary-dark,
	'black'              : $black,
	'darkgrey'           : $darkgrey,
	'grey'               : $grey,
	'lightgrey'          : $lightgrey
);
