/** --------------------------------------------
 * 
 * Grid
 * 
 -------------------------------------------- */

/**
 * Generic
 */

$nb-cols: 12;

$spacing: 1rem;

$phi: 1.618;

/**
 * Breakpoints
 */

$tiny-screen: 20rem !default;
$small-screen: 36rem !default;
$medium-screen: 48rem !default;
$medium-plus-screen: 62rem !default;
$large-screen: 75rem !default;
$large-plus-screen: 90rem !default;
   
$grid-mq: (
	'small'  : 'sm',
	'medium' : 'md',
	'large'  : 'lg'
);

$mq: (
	'tiny'        : $tiny-screen,
	'small'       : $small-screen,
	'medium'      : $medium-screen,
	'medium-plus' : $medium-plus-screen,
	'large'       : $large-screen,
	'large-plus'  : $large-plus-screen
);
