@mixin font-face($font-name, $file-name, $weight: normal, $style: normal, $display: optional) {
	@font-face {
		font-family: quote($font-name);
		font-weight: $weight;
		font-style: $style;
		font-display: $display; // optional for text, swap for headings, block for font icon
		src: url('../font/' + $font-name + '/' + $file-name + '.woff2') format('woff2');
	}
}
 
$regular: 400;
$bold: 700;

$typo-font-family: system-ui, sans-serif;
$heading-font-family: 'Merriweather', Arial, sans-serif;

$link-color: var(--color-primary);
$link-color-active: var(--color-primary-dark);

$link-color-secondary: var(--color-secondary);
$link-color-secondary-active: var(--color-secondary-dark);
