.bg-primary
	div(class="container text-center py-3 lg:py-4 mt-2 lg:mt-0")
		h2.text-white Vous souhaitez recevoir un devis ?
		p.text-white.h3.text-system.fw-regular.lh-base Ou simplement avoir plus de renseignements ?
		a(href="/contact" class="btn btn--white mt")
			svg(aria-hidden="true")
				use(xlink:href="/dest/img/sprite.svg#icon-envelop")
			| Discutons-en !