mixin tooltip(id, term, text, en)
	span.tooltip
		button(class="tooltip" aria-describedby=id+"-meaning")&attributes({"lang='en'": en})=term 
		span(id=id+"-meaning" role="tooltip")&attributes({"lang='en'": en})=text