mixin tooltip(id, term, text, en)
	button(class="tooltip" id=id+"-toggle" popovertarget=id+"-meaning" style="anchor-name:--"+id+"-anchor")&attributes({"lang='en'": en})=term 
	span(id=id+"-meaning" popover anchor=id+"-toggle" style="position-anchor:--"+id+"-anchor")&attributes({"lang='en'": en})=text