.row.justify-center
	div(class="col-12 lg:col-8 mb-0")
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2017
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Ineat Group
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>Tech Lead UI developer
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| January 2017 - Today
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Lille, France
						img(src="dest/img/svg/logo-ineat-square.svg", class="career__img", loading="lazy", alt="", width="100", height="100")
					p(class="lh-base mt md:mt-2") <span class="fw-semibold text-primary">These are some of the organisations I worked with</span> : <span lang="fr">Adeo, Agenor, Crédit Agricole, Dassault, Exacode, Gènes Diffusion, Groupe ADP, Janssen, Jules, Leroy Merlin, Les Merveilleuses, Lesaffre, Mamawax, Méert, Mes tenues perso, Mobilis, Nortia, Preventeo, Urba Select.</span>
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2015
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Hobbynote
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>UI developer
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| April 2015 - December 2016
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Lille, France
						img(src="dest/img/svg/logo-hobbynote.svg", class="career__img", loading="lazy", alt="", width="100", height="100")
					p(class="lh-base mt md:mt-2") <span class="fw-semibold text-primary">These are some of the organisations I worked with</span> : <span lang="fr">Accor Hotels, Auchan, Canalsat, Ibis, Nocibé, Novotel, Orange, SFR, TF1, Twitter, Vertbaudet.</span>
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2015
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Pictime Groupe
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>UI developer
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| March 2015 - April 2015
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Villeneuve d'Ascq, France
						img(src="dest/img/logo-pictime.png", class="career__img", loading="lazy", alt="", width="100", height="100")
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2011
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Ineat Conseil
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>UI developer
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| January 2011 - March 2015
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Lille, France
						img(src="dest/img/logo-ineat-old.png", class="career__img", loading="lazy", alt="", width="100", height="100")
					p(class="lh-base mt md:mt-2") <span class="fw-semibold text-primary">These are some of the organisations I worked with</span> : <span lang="fr">Anios, Chausport, Decathlon, Eurotunnel, Happychic, Leroy Merlin, Nord France Innovation Développement, Publicis ETO.</span>
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2010
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Plaine Images
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>Community Manager / Web developer
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| October 2009 - December 2010
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Roubaix, France
						img(src="dest/img/svg/logo-plaine-images.svg", class="career__img", loading="lazy", alt="", width="100", height="100")
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2009
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Efficom
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>Bachelor's degree : <span lang="fr">Concepteur Intégrateur Web</span>
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| October 2009 - September 2010
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Lille, France
						img(src="dest/img/svg/logo-efficom.svg", class="career__img", loading="lazy", alt="", width="100", height="100")
		article(class="row career")
			div(class="col-auto mb-0 career__col career__col--left")
				.career__date 2007
			div(class="col mb-0 career__col career__col--right")
				div(class="bg-white p md:p-2 radius shadow lh-sm text-darkgrey ml-0.5 md:ml-0")
					.pos-relative
						h3.text-black(lang="fr") Université de Lille
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tag"></use></svg>2-year university degree : <abbr lang="fr" title="Statistique et Informatique Décisionnelle">SID</abbr>
						p(class="mb-0.5") <svg class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg>
							span.sr-only Date
							| September 2007 - September 2009
						p.mb-0 <svg class="icon d-none sm:d-inline" aria-hidden="true"><use xlink:href="#icon-pin"></use></svg>
							span.sr-only Location
							span(lang="fr") Roubaix, France
						img(src="dest/img/svg/logo-univ-lille.svg", class="career__img", loading="lazy", alt="", width="100", height="100")