.row.justify-center.text-black.text-center
	div(class="col-12 md:col-6 lg:col-5 mb-2")
		article.frame
			.frame__content
				img(src="/dest/img/svg/logo-access42.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm(lang="fr") Access42 : Tester l’accessibilité de sites et d’applications
				p Score : 88.78%. <a href="files/Access42-Auditeur-Alexis-Degryse.pdf" target="_blank" aria-describedby="new-window french-content" class="text-primary-dark">Certification</a> <svg class="icon" aria-hidden="true"><use xlink:href="dest/img/sprite.svg#icon-new-tab"></use></svg> <svg aria-hidden="true" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21"><path d="M2.4 0C1.1 0 0 1.1 0 2.4v16.2C0 19.9 1.1 21 2.4 21h8.3V0H2.4z" fill="#41479b"></path><path d="M10.7 0h10.7v21H10.7V0z" fill="#f5f5f5"></path><path d="M29.6 0h-8.3v21h8.3c1.3 0 2.4-1.1 2.4-2.4V2.4C32 1.1 30.9 0 29.6 0z" fill="#ff4b55"></path></svg>
				p.fs-smaller.fw-semibold December 2022
	div(class="col-12 md:col-6 lg:col-5 mb-2")
		article.frame
			.frame__content
				img(src="/dest/img/svg/opquast-badge-expert-v2.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm Opquast® certification : Mastering Web Quality Assurance
				p Score : 930 out of 1000. <a href="https://directory.opquast.com/en/certificat/TU4AYG/" rel="noopener noreferrer" target="_blank" aria-describedby="new-window french-content" class="text-primary-dark">Certification</a> <svg class="icon" aria-hidden="true"><use xlink:href="dest/img/sprite.svg#icon-new-tab"></use></svg>.
				p.fs-smaller.fw-semibold September 2021
	div(class="col-12 md:col-6 lg:col-5 mb-2 md:mb-0")
		article.frame
			.frame__content
				img(src="/dest/img/svg/logo-access42.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm(lang="fr") Access42 : Développer des sites web accessibles
				p Score : 85.92%. <a href="files/Access42-Developpeur-Alexis-Degryse.pdf" target="_blank" aria-describedby="new-window french-content" class="text-primary-dark">Certification</a> <svg class="icon" aria-hidden="true"><use xlink:href="dest/img/sprite.svg#icon-new-tab"></use></svg> <svg aria-hidden="true" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21"><path d="M2.4 0C1.1 0 0 1.1 0 2.4v16.2C0 19.9 1.1 21 2.4 21h8.3V0H2.4z" fill="#41479b"></path><path d="M10.7 0h10.7v21H10.7V0z" fill="#f5f5f5"></path><path d="M29.6 0h-8.3v21h8.3c1.3 0 2.4-1.1 2.4-2.4V2.4C32 1.1 30.9 0 29.6 0z" fill="#ff4b55"></path></svg>
				p.fs-smaller.fw-semibold March 2021
	div(class="col-12 md:col-6 lg:col-5 mb-0")
		article.frame
			.frame__content
				img(src="/dest/img/svg/opquast-badge-avance.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm Opquast® certification : Mastering Web Quality Assurance
				p Score : 880 out of 1000.
				p.fs-smaller.fw-semibold December 2017