.row.justify-evenly.text-black.text-center
	div(class="col-12 md:col-6 lg:col-5 mb-2 md:mb-0")
		article.frame
			.frame__content
				img(src="dest/img/svg/opquast-badge-avance.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm(lang="fr") Certification Opquast® : Maitrise de la qualité en projet web
				p Score : 880 out of 1000. <a href="https://oqs.li/OI21K8" rel="noopener noreferrer" target="_blank"  aria-describedby="new-window" class="text-primary-dark">Certification link</a> <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg>.
				p.fs-smaller.fw-semibold Date obtained : December 2017
	div(class="col-12 md:col-6 lg:col-5 mb-0")
		article.frame
			.frame__content
				img(src="dest/img/svg/logo-access42.svg", loading="lazy", width="180", height="180", alt="")
				h3.h4-like.text-black.lh-sm(lang="fr") Access42 : Développer des sites web accessibles
				p In progress.