div(class="row justify-evenly")
	div(class="col-12 sm:col-6 md:col-5 lg:col-3 extra-stuff lg:mb-4")
		article(class="extra-stuff__content")
			div(class="extra-stuff__col-left")
				img(src="dest/img/svg/logo-cssbattle.svg", loading="lazy", width="300", height="70", class="extra-stuff__img", alt="")
			div(class="extra-stuff__col-right p bg-white text-black radius")
				h3.extra-stuff__title CSSBattle
				p Top 8 of the battle #12 <span class="fs-smaller">(405 players)</span>,<br> Top 14 of the battle #13 <span class="fs-smaller">(2696 players)</span><br> on <a href="https://cssbattle.dev/battle/12" rel="noopener noreferrer" target="_blank" aria-describedby="new-window">cssbattle.dev</a> <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg>.
				blockquote.mx-0.fs-smaller(cite="https://cssbattle.dev/about") CSSBattle is an online CSS Code Golfing battleground. Players from all around the world try to visually replicate "Targets" in smallest possible CSS code and battle it out to get to the top of the leaderboard.
	div(class="col-12 sm:col-6 md:col-5 lg:col-3 extra-stuff lg:mb-4")
		article(class="extra-stuff__content")
			div(class="extra-stuff__col-left")
				img(src="dest/img/svg/logo-codepen.svg", loading="lazy", width="300", height="57", class="extra-stuff__img", alt="")
			div(class="extra-stuff__col-right p bg-white text-black radius")
				h3.extra-stuff__title Daily CSS Images
				p I love CSS drawing. 
				p Check my collection of CSS Images on <a href="https://codepen.io/collection/DNRBNz?sort_by=item_created_at" rel="noopener noreferrer" target="_blank" aria-describedby="new-window">codepen.io</a> <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg> based on the Daily CSS Images Challenge.
				blockquote.mx-0.fs-smaller(cite="https://medium.com/dailycssimages/daily-css-images-everything-you-need-to-know-e725bc419044") Daily CSS Images is a 50-day email challenge where you are prompted with an image to create with CSS.
	div(class="col-12 sm:col-6 md:col-5 lg:col-3 extra-stuff sm:mb-0 lg:mb-4")
		article(class="extra-stuff__content")
			div(class="extra-stuff__col-left")
				img(src="dest/img/svg/logo-bacsset.svg", loading="lazy", width="150", height="196", class="extra-stuff__img", alt="")
			div(class="extra-stuff__col-right p bg-white text-black radius")
				h3.extra-stuff__title baCSSet
				p I created my own CSS framework.
				p It's obviously not as configurable and gainful as the most popular frameworks but, since I made it myself, I'm pretty efficient and helpful with.
				p His little name is baCSSet and is on <a href="https://github.com/twogrey/baCSSet" rel="noopener noreferrer" target="_blank" aria-describedby="new-window">github.com</a> <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg>.
	div(class="col-12 sm:col-6 md:col-5 lg:col-3 extra-stuff mb-0 lg:mb-4")
		article(class="extra-stuff__content")
			div(class="extra-stuff__col-left")
				img(src="dest/img/svg/logo-ineat-blog.svg", loading="lazy", width="300", height="65", class="extra-stuff__img", alt="")
			div(class="extra-stuff__col-right p bg-white text-black radius")
				h3.extra-stuff__title Blogging
				p I occasionally write articles on my <a href="https://blog.ineat-group.com/author/alexisdeg/" rel="noopener noreferrer" target="_blank" aria-describedby="new-window">company blog</a> <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg>.
