//--- Essential
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")

//--- Short description of the document (limit to 150 characters)
block meta-desc
	meta(name="description", content="Je vous accompagne dans la création de votre site web et votre démarche de prise en compte de l’accessibilité numérique.")

//--- Favicons
link(rel="icon", href="favicon.ico")
link(rel="icon", href="favicon.svg", type="image/svg+xml")
link(rel="apple-touch-icon", href="apple-touch-icon.png")

//--- Styles
block styles
	link(href="dest/css/styles.min.css", rel="stylesheet", media="all")  
	link(href="dest/css/styles-sm.min.css", rel="stylesheet", media="(min-width: 36rem)")  
	link(href="dest/css/styles-md.min.css", rel="stylesheet", media="(min-width: 48rem)")  
	link(href="dest/css/styles-lg.min.css", rel="stylesheet", media="(min-width: 75rem)")  

//--- Scripts
block scripts-header

//--- Facebook & Linkedin
block og
	meta(property="og:url", content="https://alexis-degryse.com")
	meta(property="og:type", content="website")
	meta(property="og:title", content="Alexis DEGRYSE - French UI developer")
	meta(property="og:description", content="I currently work with INEAT as Tech Lead. I’m in charge of technical support of all topics relating to UI (semantic, accessibility, ergonomics, SEO, performance, responsive, animation, etc.).")
	meta(property="og:image", content="https://alexis-degryse.com/dest/img/og-image.jpg")
	meta(property="og:image:width", content="400")
	meta(property="og:image:height", content="600")

meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@twogrey')
meta(name='twitter:creator', content='@twogrey')
block twitter
	meta(name='twitter:url', content='https://alexis-degryse.com')
	meta(name='twitter:title', content='Alexis DEGRYSE - French UI developer')
	meta(name='twitter:description', content='I currently work with INEAT as Tech Lead. I’m in charge of technical support of all topics relating to UI (semantic, accessibility, ergonomics, SEO, performance, responsive, animation, etc.).')
	meta(name="twitter:image", content="https://alexis-degryse.com/dest/img/tc-image.jpg")
	meta(name="twitter:image:alt", content="picture of Alexis DEGRYSE")