extends ../wrapper.pug

block vars
	- var metaDesc = 'Retrouvez ici les sources de certains éléments graphiques utilisés sur ce site.'

block prepend title-page
	| Crédits - 

block main
	.container
		h1 Crédits
		p L'avatar de la page d'accueil est conçu à partir de <a href="https://www.humaaans.com/" aria-describedby="english-content" lang="en">Humaaans</a>.
		p Les icones sont issues de <a href="https://tablericons.com/" aria-describedby="english-content" lang="en">Tabler icons</a>.
		p Les illustrations (dont certaines ont été retouchées pour l'identité visuelle de ce site) sont issues de <a href="https://storyset.com/" aria-describedby="english-content" lang="en">Storyset</a>.
		p Le logo et le développement du site ont été réalisés par mes soins.