$assets-base-path: '../../';

@import '../abstracts';

.presentation {
	@include large {
		position: relative;
		overflow-x: clip;
		overflow-y: visible;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 50%;
			border-radius: 50%;
			background: var(--color-primary-lightest);
			opacity: 0.2;
			aspect-ratio: 1/1.5;
			translate: -75% -50%;
		}

		&::after {
			right: 0;
			left: auto;
			translate: 75% -50%;
		}
	}
}

.list {
	ol,
	ul {
		list-style: none;
	}
	
	li {
		padding: var(--sp);
		border-radius: var(--radius);

		&:nth-child(odd) {
			background-color: rgba(black, 0.05);
		}
	}
}
