$assets-base-path: '../../';

@import '../abstracts';


/** --------------------------------------------
 * 
 * Sectioning
 * 
 -------------------------------------------- */

.h2-gradient {
	--color-line: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&::before,
	&::after {
		content: '';
		flex: 1 1 0;
		max-width: rem(200px);
		height: rem(3px);
		border-radius: var(--radius);
		background-image: linear-gradient(var(--a), var(--color-primary), var(--color-secondary));
		opacity: 0.25;
	}

	&::before { --a: -45deg;
		margin-right: var(--sp); }

	&::after { --a: 135deg;
		margin-left: var(--sp); }
}

.h2-rect {
	--offset: #{rem(4px)};
	--bg: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
	position: relative;
	display: inline-block;
	padding: var(--offset);
	border-radius: var(--radius);
	background: var(--bg);

	&::before {
		content: '';
		position: absolute 0;
		margin: var(--offset);
		background-color: var(--color-lightgrey);
	}

	span { 
		position: relative;
		display: inline-block;
		padding: var(--sp) var(--sp-2);
		background: var(--bg);

		@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		@include medium {
			padding: var(--sp) var(--sp-4);
		}
	}
}

.skewed {
	@include large {
		--a: 90deg;
		--offset: 80px;
		--coef-start: 12;
		--coef-end: 1.5;
		background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));

		&--bottom {
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--offset) / var(--coef-end)), 0 100%);

			> * {
				clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--offset)), 0 calc(100% - var(--offset) / var(--coef-start)));
			}
		}

		&--top {
			clip-path: polygon(0 calc(var(--offset) / var(--coef-end)), 100% 0, 100% 100%, 0 100%);

			> * {
				clip-path: polygon(0 var(--offset), 100% calc(var(--offset) / var(--coef-start)), 100% 100%, 0 100%);
			}
		}

		&--both {
			clip-path: polygon(0 calc(var(--offset) / var(--coef-end)), 100% 0, 100% calc(100% - var(--offset) / var(--coef-end)), 0 100%);

			> * {
				clip-path: polygon(0 var(--offset), 100% calc(var(--offset) / var(--coef-start)), 100% calc(100% - var(--offset)), 0 calc(100% - var(--offset) / var(--coef-start)));
			}
		}
	}
}

main {
	section[id] {
		scroll-margin-top: var(--header-height);
	}
}

/** --------------------------------------------
 * 
 * Section : About me
 * 
 -------------------------------------------- */

.about-me {
	--network-p: #{rem(10px)};
	--network-fs: #{rem(30px)};
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding-top: calc(var(--sp-5) + var(--header-height, 64px));
	padding-bottom: calc(var(--sp-5) + var(--network-p) + var(--network-fs));
	margin-top: calc(var(--header-height, 64px) * -1);

	@include medium {
		padding-top: calc(var(--sp-5) + var(--header-height, 77px));
		padding-bottom: var(--sp-5);
		margin-top: calc(var(--header-height, 77px) * -1);
	}

	@include large {
		--network-p: #{rem(15px)};
		--network-fs: #{rem(34px)};
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
	}

	&__content {
		position: relative;
		padding: var(--sp);
		border-radius: var(--radius);
		background-color: rgba(#111, 0.75);
		color: #fff;

		@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
			background-color: rgba(#111, 0.5);
			backdrop-filter: blur(10px);  
		}

		@include medium {
			padding: var(--sp-2);
		}
	}

	&__networks {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		padding: calc(var(--network-p) * 0.5);
		border-top-left-radius: var(--radius);
		background-image: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

		@include medium {
			top: 50%;
			bottom: auto;
			flex-direction: column;
			border-bottom-left-radius: var(--radius);
			transform: translateY(-50%);
		}

		@include large {
			top: auto;
			right: var(--sp);
			bottom: var(--sp);
			flex-direction: column;
			border-radius: var(--radius);
			transform: none;
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: var(--network-p) calc(var(--network-p) * 1.25);
			border-radius: var(--radius);
			font-size: var(--network-fs);
			color: #fff;

			@include large {
				padding: var(--network-p);
			}

			&:hover,
			&:focus-visible {
				background-color: #fff;
				color: var(--color-primary);
			}
		}
	}
}

.headphone {
	display: none;

	@include large {
		position: absolute;
		display: block;

		&__icon {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 25px;
			opacity: 0;
			animation: headphone 5s var(--d, 0s) infinite linear;

			@for $i from 2 through 10 {
				&:nth-child(#{$i}) {
					--d: #{($i - 1) * 0.5s};
				}
			}

			&:nth-child(even) {
				--r: -45deg;
			}

			&:nth-child(3n+2) {
				transform-origin: top left;
			}

			&:nth-child(3n+3) {
				transform-origin: bottom right;
			}
		}
	}
}

@keyframes headphone {
	10% {
		opacity: 0;
	}

	25% {
		opacity: 0.75;
	}

	40%,
	100% {
		opacity: 0;
		transform: translate(300%, 300%) rotate(var(--r, 45deg));
	}
}

/** --------------------------------------------
 * 
 * Section : skills
 * 
 -------------------------------------------- */

.skills {
	$parent: &;
	--bg-pattern: rgba(255, 255, 255, 0.005);
	background-color: var(--color-black);
	background-image: 
		linear-gradient(var(--bg-pattern) 4px, transparent 4px), 
		linear-gradient(90deg, var(--bg-pattern) 4px, transparent 4px), 
		linear-gradient(var(--bg-pattern) 2px, transparent 2px), 
		linear-gradient(90deg, var(--bg-pattern) 2px, #333 2px);
	background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;

	&__grid {
		@include medium {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
		}

		@include large {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-auto-rows: 1fr;
		}
	}


	&__item {
		position: relative;
		padding: var(--sp);
		margin: var(--sp-1-2) 0;

		@include medium {
			padding: var(--sp-2);
			margin: 0;
			text-align: center;
		}

		@include large {
			padding: var(--sp-2) var(--sp);
		}

		&:nth-of-type(even) {
			background-color: rgba(#fff, 0.025);

			@include medium {
				background-color: transparent;
			}
		}

		&:nth-of-type(4n+2),
		&:nth-of-type(4n+3) {
			@include medium {
				background-color: rgba($color-primary-rgb, 0.05);
			}

			@include large {
				background-color: transparent;
			}
		}

		@include large {
			#{$parent}__icon {
				color: var(--color-secondary-lightest);
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 180px;
				height: 200px;
				background-color: rgba(var(--hexagon-color, #{$color-secondary-r-g-b}), 0.05);
				transform: translate(-50%, -50%);
				clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
			}
		}

		&:nth-of-type(5n+1),
		&:nth-of-type(6n+8),
		&:nth-of-type(6n+3) {

			@include large {
				#{$parent}__icon {
					color: var(--color-primary-lightest);
				}

				&::before {
					--hexagon-color: #{$color-primary-r-g-b};
				}
			}
		}

		&:nth-of-type(1) {
			@include large {
				grid-column: 1 / 3;
			}
		}

		&:nth-of-type(2) {
			@include large {
				grid-column: 3 / 5;
			}
		}
	}

	&__icon {
		font-size: rem(26px);
		color: var(--color-primary-light);

		@include medium {
			font-size: rem(33px);
		}

		@include large {
			font-size: rem(40px);
		}
	}

}

/** --------------------------------------------
 * 
 * Section : Certifications
 * 
 -------------------------------------------- */

.frame {
	--border: #{rem(8px)};
	position: relative;
	height: 100%;
	padding: var(--sp-2);
	border: rem(8px) solid;
	border-top-color: #999;
	border-right-color: #555;
	border-bottom-color: #555;
	border-left-color: #777;
	border-radius: var(--radius);
	background-color: #fff;
	box-shadow: rgba(50, 50, 93, 0.2) 0 13px 27px -5px, rgba(0, 0, 0, 0.25) 0 8px 16px -8px;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: var(--sp);
		background-color: var(--color-primary-lightest);
		box-shadow: inset rem(1px) rem(1px) rem(4px) rgba(0, 0, 0, 0.25);

		@include large {
			padding: var(--sp-2);
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: calc(var(--border) * -1);
		right: calc(var(--border) * -1);
		bottom: calc(var(--border) * -1);
		left: calc(var(--border) * -1);
		background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.18) 40%, rgba(255, 255, 255, 0) 40.1%, rgba(255, 255, 255, 0));
		pointer-events: none;
	}
}

/** --------------------------------------------
 * 
 * Section : Extra stuff
 * 
 -------------------------------------------- */

@keyframes bubble {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.extra-stuff {
	margin-bottom: var(--sp-2);

	@for $i from 2 through 7 {
		&:nth-child(#{$i}) {
			--d: calc(#{$i} * -3s); 
		}
	}

	&__content {
		@include small {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	&__col-left {
		--h: #{rem(200px)};
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--h);
		margin-bottom: var(--sp);

		@include small {
			flex: 0 0 auto;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(var(--h) / 1.1);
			height: calc(var(--h) / 1.1);
			border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
			background-color: rgba(#fff, 0.05);
			transform: translate(-50%, -50%);

			@include large {
				animation: bubble 25s var(--d , 0s) infinite linear;
			}
		}
	}

	&__col-right {
		margin-bottom: 0;

		@include small {
			flex: 1 1 auto;
		}
	}

	&__img {
		position: relative;
	}

	&__title {
		--line-h: #{rem(4px)};
		position: relative;
		padding-top: var(--line-h);
		padding-bottom: calc(var(--sp) + var(--line-h));
		margin-bottom: calc(var(--sp) + var(--line-h));
		color: var(--color-black);

		&::after {
			content: '';
			position: absolute;
			bottom: calc(var(--line-h) * -0.5);
			left: 0;
			width: 50%;
			height: var(--line-h);
			border-radius: var(--radius);
			background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
			opacity: 0.75;
		}
	}

	p {
		font-size: 0.875rem;
	}
}

/** --------------------------------------------
 * 
 * Section : career
 * 
 -------------------------------------------- */

.career {
	--line: #{rem(5px)};
	--offset-y: var(--sp-2);
	--arrow-point: #{rem(30px)};
	position: relative;

	&:nth-of-type(1) {
		--arrow-point-display: block;
		margin-top: calc(var(--arrow-point) / 2);

		@include medium {
			margin-top: 0;
		}
	}

	&__col {
		padding-top: var(--offset-y);

		&--left {
			display: flex;

			&::before {
				--s: #{rem(30px)};
				content: '';
				position: absolute;
				top: calc(var(--arrow-point) / -2);
				right: calc(var(--arrow-point) / -2 + var(--gutter) / 2 + var(--line) / 2);
				display: var(--arrow-point-display, none);
				width: var(--arrow-point);
				height: var(--arrow-point);
				clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 75%);
				background-image: linear-gradient(var(--color-secondary), var(--color-primary));
			}

			&::after {
				content: '';
				width: var(--line);
				height: calc(100% + var(--offset-y));
				margin-top: calc(var(--offset-y) * -1);
				margin-left: var(--gutter);
				background-image: linear-gradient(var(--color-primary), var(--color-secondary), var(--color-primary));
			}
		}

		&--right {
			margin-top: calc(var(--offset-y) / -2);
		}
	}

	&__date {
		position: sticky;
		top: calc(var(--header-height) + var(--gutter));
		align-self: flex-start;
		font-family: $typo-font-family-serif;
		font-size: rem(18px);
		font-weight: $bold;
		background: linear-gradient(var(--color-secondary), var(--color-primary));
		background-clip: text;
		-webkit-text-fill-color: transparent;

		@include small {
			font-size: rem(24px);
		}

		@include medium {
			font-size: rem(30px);
		}

		&::after {
			--s: #{rem(20px)};
			content: '';
			position: absolute;
			top: calc(50% - var(--s) / 2);
			right: calc(var(--gutter) * -1 - var(--s) / 2 - var(--line) / 2);
			width: var(--s);
			height: var(--s);
			border-radius: 50%;
			background-image: radial-gradient(var(--color-lightgrey) 40%, transparent 45%), linear-gradient(135deg, var(--color-primary), var(--color-secondary));
		}
	}

	&__img {	
		display: none;

		@include large {
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			width: rem(100px);
			height: 75%;
			opacity: 0.15;
			filter: grayscale(1);
			pointer-events: none;
			transform: translateY(-50%);
			object-fit: contain;
		}
	}

	.icon {
		display: none;

		@include small {
			display: inline;
			margin-right: var(--sp);
			vertical-align: middle;
			color: var(--color-primary-lightest);
		}
	}
}
