$assets-base-path: '../../';

@import '../abstracts';

main {
	@include large {
		--bg-pattern: #f7f7f7;
		background-color: #fff;
		background-image: linear-gradient(white, transparent), linear-gradient(var(--bg-pattern) 6px, transparent 0),linear-gradient(90deg, var(--bg-pattern) 6px, transparent 0),linear-gradient(var(--bg-pattern) 2px, transparent 0),linear-gradient(90deg, var(--bg-pattern) 2px, transparent 0);
		background-repeat: no-repeat,repeat, repeat, repeat, repeat;
		background-clip: content-box;
		background-size: auto, 100px 100px,100px 100px,20px 20px,20px 20px;
	}
}

.highlighted-term {
	font-family: $heading-font-family;
	font-weight: $bold;
	background: linear-gradient(var(--color-secondary-lightest), var(--color-secondary-lightest)) bottom center / 100% 40% no-repeat;
	padding-inline: var(--sp-1-4);
}

.create {
	--icon-s: 4rem;
	--b-c: var(--color-secondary-lightest);
	--b-w: #{rem(2px)};
	--browser-bar-h: 2rem;
	justify-content: center;
	margin-top: var(--sp-3);

	@include large {
		> div {
			&:first-of-type {
				padding-right: 0;

				> article {
					border-right: 0;
					border-top-left-radius: 0.5rem;
					background-image: linear-gradient(var(--color-grey), var(--color-grey));
					background-repeat: no-repeat;
					background-position: right calc(var(--browser-bar-h) + var(--p));
					background-size: 1px calc(100% - var(--p) * 2 - var(--b-w));

					&::before {
						--s: calc(var(--browser-bar-h) / 2);
						--o: calc(var(--browser-bar-h) / 4);
						background-image: radial-gradient(var(--color-grey) 50%, transparent 50%), radial-gradient(#fff 50%, transparent 50%), radial-gradient(var(--color-primary-light) 50%, transparent 50%);
						background-repeat: no-repeat;
						background-position: var(--o) center, calc(var(--o) * 2 + var(--s)) center, calc(var(--o) * 3 + var(--s) * 2) center;
						background-size: var(--s) var(--s);
					}
				}
			}

			&:last-of-type {
				padding-left: 0;

				> article {
					border-left: 0;
					border-top-right-radius: 0.5rem;
				}
			}
		}
	}

	article {
		--p: var(--gutter);
		position: relative;
		width: 100%;
		padding: calc(var(--icon-s) / 2 + var(--p)) var(--p) var(--p);
		border: rem(2px) solid var(--b-c);
		margin-top: calc(var(--icon-s) / 2);
		border-radius: var(--radius);

		@include large {
			--b-w: 2rem;
			border: var(--b-w) solid var(--color-grey);
			margin-top: 0;
			border-radius: 0;
			background-color: #fff;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: var(--browser-bar-h);
				background-color: var(--color-primary);
			}
		}

		svg {
			position: absolute;
			top: calc(var(--b-w) / -2);
			left: 50%;
			padding: 1rem;
			border-radius: 50%;
			overflow: visible;
			font-size: var(--icon-s);
			background-color: var(--b-c);
			color: var(--color-secondary-dark);
			translate: -50% -50%;
			aspect-ratio: 1;

			@include large {
				position: static;
				translate: none;
				display: block;
				margin: 0 auto var(--sp-2);
			}
		}
	}
}

