$assets-base-path: '../../';

@import '../abstracts';

.pillars {
	@include large {
		--item-h: 18vh;
		--brick-h: #{rem(88.2px)};
		padding-bottom: calc(var(--brick-h) * 1.25);
	}

	.item {
		padding-bottom: var(--sp-2);

		@include large {
			min-height: var(--item-h);
		}
	}
}

@include large {
	.bricks {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		img {
			position: sticky;
			top: 50%;
			width: rem(100px);
			height: var(--brick-h);

			&:nth-of-type(1) {
				margin-top: calc(var(--item-h) * 3 + var(--brick-h) * 0.7);
				translate: 90% -70%;
			}

			&:nth-of-type(2) {
				margin-top: calc(var(--item-h) + var(--brick-h) * 0.35);
				translate: 45% -35%;
			}

			&:nth-of-type(3) {
				translate: 0;
			}

			&:nth-of-type(4) {
				margin-top: calc(var(--item-h) * 2 - var(--brick-h) * 0.35);
				translate: -45% 35%;
			}

			&:nth-of-type(5) {
				margin-top: calc(var(--item-h) * 4 - var(--brick-h) * 0.7);
				translate: -90% 70%;
			}
		}

		.bricks {
			position: absolute;
			bottom: 0;
			left: calc(50% + var(--brick-h) / 4);
			translate: -50% 20%;

			&::before {
				content: '';
				position: absolute;
				inset: calc(var(--brick-h) * -1) -50%;
				background: 
					radial-gradient(transparent, white 80%),
					repeating-linear-gradient(150deg, var(--color-grey), var(--color-grey) 2px, transparent 1px, transparent 40px), 
					repeating-linear-gradient(30deg, var(--color-grey), var(--color-grey) 1px, transparent 2px, transparent 40px);
				background-size: auto, 81px 46px;
			}

			img {
				margin-top: 0;

				&:nth-child(6) {
					translate: -135% 105%;
				}
			}
		}
	}
}
