:root {
	--index-b-c: var(--color-secondary-light);
	
	@include medium {
		--index-r: #{rem(10px)};
		--index-b-w: var(--sp);
		--index-b: var(--index-b-w) solid transparent;
	}
}

.header {
	@include medium {
		border: var(--index-b);
		border-bottom: 0;
	}
}

.logo {
	@include fluid-fs(var(--min), var(--max));
	--min: #{rem(20px, true)};
	--max: #{rem(28px, true)};
	display: flex;
	align-items: center;
	gap: var(--sp);

	@include medium {
		padding: calc(var(--sp-2) - var(--index-b-w)) var(--sp-2) var(--sp-2);
	}

	svg {
		width: auto;
		font-size: 400%;
		aspect-ratio: 603/873.4;

		@include medium {
			font-size: 270%;
		}
	}

	circle,
	path:first-of-type {
		fill: var(--color-primary);
	}

	path:last-of-type {
		fill: var(--text-color);
	}

	div {
		> span {
			display: block;

			&:first-of-type {
				font-family: $heading-font-family;
				font-weight: $bold;
				color: var(--color-primary);
			}

			&:last-of-type {
				font-size: 75%;
				color: var(--text-color);
			}
		}
	}
}

.menu {
	@include medium {
		display: flex;
	}
}
