@charset "UTF-8";
/** -----------------------------------------------------------
 *
 * Combination of all files that do not generate CSS.
 * Used for styles files in /pages/
 * 
 */
/** --------------------------------------------
 * 
 * Enable/disable imports
 * 
 -------------------------------------------- */
/**
 * Form
 */
/**
 * HTML Elements
 */
/**
 * Objects
 */
/**
 * Components
 */
/**
 * Patterns
 */
/**
 * Utilities
 */
/** --------------------------------------------
 * 
 * Grid
 * 
 -------------------------------------------- */
/**
 * Generic
 */
/**
 * Breakpoints
 */
/** --------------------------------------------
 * 
 *  /!\ Use it only for pages/ scss files
 * 
 -------------------------------------------- */
/** --------------------------------------------
* 
* 
* 
-------------------------------------------- */
/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
/** --------------------------------------------
 * 
 * Sectioning
 * 
 -------------------------------------------- */
.h2-gradient {
  --color-line: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.h2-gradient::before, .h2-gradient::after {
  content: "";
  flex: 1 1 0;
  max-width: 12.5rem;
  height: 0.1875rem;
  border-radius: var(--radius);
  background-image: linear-gradient(var(--a), var(--color-primary), var(--color-secondary));
  opacity: 0.25;
}
.h2-gradient::before {
  --a: -45deg;
  margin-right: var(--sp);
}
.h2-gradient::after {
  --a: 135deg;
  margin-left: var(--sp);
}

.h2-rect {
  --offset: 0.25rem;
  --bg: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  position: relative;
  display: inline-block;
  padding: var(--offset);
  border-radius: var(--radius);
  background: var(--bg);
}
.h2-rect::before {
  content: "";
  position: absolute 0;
  margin: var(--offset);
  background-color: var(--color-lightgrey);
}
.h2-rect span {
  position: relative;
  display: inline-block;
  padding: var(--sp) var(--sp-2);
  background: var(--bg);
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .h2-rect span {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 48rem) {
  .h2-rect span {
    padding: var(--sp) var(--sp-4);
  }
}

@media screen and (min-width: 75rem) {
  .skewed {
    --a: 90deg;
    --offset: 80px;
    --coef-start: 12;
    --coef-end: 1.5;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  }
  .skewed--bottom {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--offset) / var(--coef-end)), 0 100%);
  }
  .skewed--bottom > * {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--offset)), 0 calc(100% - var(--offset) / var(--coef-start)));
  }
  .skewed--top {
    clip-path: polygon(0 calc(var(--offset) / var(--coef-end)), 100% 0, 100% 100%, 0 100%);
  }
  .skewed--top > * {
    clip-path: polygon(0 var(--offset), 100% calc(var(--offset) / var(--coef-start)), 100% 100%, 0 100%);
  }
  .skewed--both {
    clip-path: polygon(0 calc(var(--offset) / var(--coef-end)), 100% 0, 100% calc(100% - var(--offset) / var(--coef-end)), 0 100%);
  }
  .skewed--both > * {
    clip-path: polygon(0 var(--offset), 100% calc(var(--offset) / var(--coef-start)), 100% calc(100% - var(--offset)), 0 calc(100% - var(--offset) / var(--coef-start)));
  }
}

main section[id] {
  scroll-margin-top: var(--header-height);
}

/** --------------------------------------------
 * 
 * Section : About me
 * 
 -------------------------------------------- */
.about-me {
  --network-p: 0.625rem;
  --network-fs: 1.875rem;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: calc(var(--sp-5) + var(--header-height, 64px));
  padding-bottom: calc(var(--sp-5) + var(--network-p) + var(--network-fs));
  margin-top: calc(var(--header-height, 64px) * -1);
}
@media screen and (min-width: 48rem) {
  .about-me {
    padding-top: calc(var(--sp-5) + var(--header-height, 77px));
    padding-bottom: var(--sp-5);
    margin-top: calc(var(--header-height, 77px) * -1);
  }
}
@media screen and (min-width: 75rem) {
  .about-me {
    --network-p: 0.9375rem;
    --network-fs: 2.125rem;
  }
}
.about-me__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.about-me__content {
  position: relative;
  padding: var(--sp);
  border-radius: var(--radius);
  background-color: rgba(17, 17, 17, 0.75);
  color: #fff;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .about-me__content {
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(10px);
  }
}
@media screen and (min-width: 48rem) {
  .about-me__content {
    padding: var(--sp-2);
  }
}
.about-me__networks {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  padding: calc(var(--network-p) * 0.5);
  border-top-left-radius: var(--radius);
  background-image: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
}
@media screen and (min-width: 48rem) {
  .about-me__networks {
    top: 50%;
    bottom: auto;
    flex-direction: column;
    border-bottom-left-radius: var(--radius);
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 75rem) {
  .about-me__networks {
    top: auto;
    right: var(--sp);
    bottom: var(--sp);
    flex-direction: column;
    border-radius: var(--radius);
    transform: none;
  }
}
.about-me__networks a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--network-p) calc(var(--network-p) * 1.25);
  border-radius: var(--radius);
  font-size: var(--network-fs);
  color: #fff;
}
@media screen and (min-width: 75rem) {
  .about-me__networks a {
    padding: var(--network-p);
  }
}
.about-me__networks a:hover, .about-me__networks a:focus-visible {
  background-color: #fff;
  color: var(--color-primary);
}

.headphone {
  display: none;
}
@media screen and (min-width: 75rem) {
  .headphone {
    position: absolute;
    display: block;
  }
  .headphone__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    opacity: 0;
    animation: headphone 5s var(--d, 0s) infinite linear;
  }
  .headphone__icon:nth-child(2) {
    --d: 0.5s;
  }
  .headphone__icon:nth-child(3) {
    --d: 1s;
  }
  .headphone__icon:nth-child(4) {
    --d: 1.5s;
  }
  .headphone__icon:nth-child(5) {
    --d: 2s;
  }
  .headphone__icon:nth-child(6) {
    --d: 2.5s;
  }
  .headphone__icon:nth-child(7) {
    --d: 3s;
  }
  .headphone__icon:nth-child(8) {
    --d: 3.5s;
  }
  .headphone__icon:nth-child(9) {
    --d: 4s;
  }
  .headphone__icon:nth-child(10) {
    --d: 4.5s;
  }
  .headphone__icon:nth-child(even) {
    --r: -45deg;
  }
  .headphone__icon:nth-child(3n+2) {
    transform-origin: top left;
  }
  .headphone__icon:nth-child(3n+3) {
    transform-origin: bottom right;
  }
}

@keyframes headphone {
  10% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  40%, 100% {
    opacity: 0;
    transform: translate(300%, 300%) rotate(var(--r, 45deg));
  }
}
/** --------------------------------------------
 * 
 * Section : skills
 * 
 -------------------------------------------- */
.skills {
  --bg-pattern: rgba(255, 255, 255, 0.005);
  background-color: var(--color-black);
  background-image: linear-gradient(var(--bg-pattern) 4px, transparent 4px), linear-gradient(90deg, var(--bg-pattern) 4px, transparent 4px), linear-gradient(var(--bg-pattern) 2px, transparent 2px), linear-gradient(90deg, var(--bg-pattern) 2px, #333 2px);
  background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
@media screen and (min-width: 48rem) {
  .skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
@media screen and (min-width: 75rem) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}
.skills__item {
  position: relative;
  padding: var(--sp);
  margin: var(--sp-1-2) 0;
}
@media screen and (min-width: 48rem) {
  .skills__item {
    padding: var(--sp-2);
    margin: 0;
    text-align: center;
  }
}
@media screen and (min-width: 75rem) {
  .skills__item {
    padding: var(--sp-2) var(--sp);
  }
}
.skills__item:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.025);
}
@media screen and (min-width: 48rem) {
  .skills__item:nth-of-type(even) {
    background-color: transparent;
  }
}
@media screen and (min-width: 48rem) {
  .skills__item:nth-of-type(4n+2), .skills__item:nth-of-type(4n+3) {
    background-color: rgba(36, 110, 159, 0.05);
  }
}
@media screen and (min-width: 75rem) {
  .skills__item:nth-of-type(4n+2), .skills__item:nth-of-type(4n+3) {
    background-color: transparent;
  }
}
@media screen and (min-width: 75rem) {
  .skills__item .skills__icon {
    color: var(--color-secondary-lightest);
  }
  .skills__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 200px;
    background-color: rgba(var(--hexagon-color, 35, 173, 105), 0.05);
    transform: translate(-50%, -50%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
@media screen and (min-width: 75rem) {
  .skills__item:nth-of-type(5n+1) .skills__icon, .skills__item:nth-of-type(6n+8) .skills__icon, .skills__item:nth-of-type(6n+3) .skills__icon {
    color: var(--color-primary-lightest);
  }
  .skills__item:nth-of-type(5n+1)::before, .skills__item:nth-of-type(6n+8)::before, .skills__item:nth-of-type(6n+3)::before {
    --hexagon-color: 36, 110, 159;
  }
}
@media screen and (min-width: 75rem) {
  .skills__item:nth-of-type(1) {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 75rem) {
  .skills__item:nth-of-type(2) {
    grid-column: 3/5;
  }
}
.skills__icon {
  font-size: 1.625rem;
  color: var(--color-primary-light);
}
@media screen and (min-width: 48rem) {
  .skills__icon {
    font-size: 2.0625rem;
  }
}
@media screen and (min-width: 75rem) {
  .skills__icon {
    font-size: 2.5rem;
  }
}

/** --------------------------------------------
 * 
 * Section : Certifications
 * 
 -------------------------------------------- */
.frame {
  --border: 0.5rem;
  position: relative;
  height: 100%;
  padding: var(--sp-2);
  border: 0.5rem solid;
  border-top-color: #999;
  border-right-color: #555;
  border-bottom-color: #555;
  border-left-color: #777;
  border-radius: var(--radius);
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.2) 0 13px 27px -5px, rgba(0, 0, 0, 0.25) 0 8px 16px -8px;
}
.frame__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--sp);
  background-color: var(--color-primary-lightest);
  box-shadow: inset 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 75rem) {
  .frame__content {
    padding: var(--sp-2);
  }
}
.frame::after {
  content: "";
  position: absolute;
  top: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.18) 40%, rgba(255, 255, 255, 0) 40.1%, rgba(255, 255, 255, 0));
  pointer-events: none;
}

/** --------------------------------------------
 * 
 * Section : Extra stuff
 * 
 -------------------------------------------- */
@keyframes bubble {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.extra-stuff {
  margin-bottom: var(--sp-2);
}
.extra-stuff:nth-child(2) {
  --d: calc(2 * -3s);
}
.extra-stuff:nth-child(3) {
  --d: calc(3 * -3s);
}
.extra-stuff:nth-child(4) {
  --d: calc(4 * -3s);
}
.extra-stuff:nth-child(5) {
  --d: calc(5 * -3s);
}
.extra-stuff:nth-child(6) {
  --d: calc(6 * -3s);
}
.extra-stuff:nth-child(7) {
  --d: calc(7 * -3s);
}
@media screen and (min-width: 36rem) {
  .extra-stuff__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.extra-stuff__col-left {
  --h: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--h);
  margin-bottom: var(--sp);
}
@media screen and (min-width: 36rem) {
  .extra-stuff__col-left {
    flex: 0 0 auto;
  }
}
.extra-stuff__col-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--h) / 1.1);
  height: calc(var(--h) / 1.1);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  background-color: rgba(255, 255, 255, 0.05);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 75rem) {
  .extra-stuff__col-left::before {
    animation: bubble 25s var(--d, 0s) infinite linear;
  }
}
.extra-stuff__col-right {
  margin-bottom: 0;
}
@media screen and (min-width: 36rem) {
  .extra-stuff__col-right {
    flex: 1 1 auto;
  }
}
.extra-stuff__img {
  position: relative;
}
.extra-stuff__title {
  --line-h: 0.25rem;
  position: relative;
  padding-top: var(--line-h);
  padding-bottom: calc(var(--sp) + var(--line-h));
  margin-bottom: calc(var(--sp) + var(--line-h));
  color: var(--color-black);
}
.extra-stuff__title::after {
  content: "";
  position: absolute;
  bottom: calc(var(--line-h) * -0.5);
  left: 0;
  width: 50%;
  height: var(--line-h);
  border-radius: var(--radius);
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  opacity: 0.75;
}
.extra-stuff p {
  font-size: 0.875rem;
}

/** --------------------------------------------
 * 
 * Section : career
 * 
 -------------------------------------------- */
.career {
  --line: 0.3125rem;
  --offset-y: var(--sp-2);
  --arrow-point: 1.875rem;
  position: relative;
}
.career:nth-of-type(1) {
  --arrow-point-display: block;
  margin-top: calc(var(--arrow-point) / 2);
}
@media screen and (min-width: 48rem) {
  .career:nth-of-type(1) {
    margin-top: 0;
  }
}
.career__col {
  padding-top: var(--offset-y);
}
.career__col--left {
  display: flex;
}
.career__col--left::before {
  --s: 1.875rem;
  content: "";
  position: absolute;
  top: calc(var(--arrow-point) / -2);
  right: calc(var(--arrow-point) / -2 + var(--gutter) / 2 + var(--line) / 2);
  display: var(--arrow-point-display, none);
  width: var(--arrow-point);
  height: var(--arrow-point);
  clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 75%);
  background-image: linear-gradient(var(--color-secondary), var(--color-primary));
}
.career__col--left::after {
  content: "";
  width: var(--line);
  height: calc(100% + var(--offset-y));
  margin-top: calc(var(--offset-y) * -1);
  margin-left: var(--gutter);
  background-image: linear-gradient(var(--color-primary), var(--color-secondary), var(--color-primary));
}
.career__col--right {
  margin-top: calc(var(--offset-y) / -2);
}
.career__date {
  position: sticky;
  top: calc(var(--header-height) + var(--gutter));
  align-self: flex-start;
  width: 4ch;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: right;
  background: linear-gradient(var(--color-secondary), var(--color-primary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 36rem) {
  .career__date {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .career__date {
    font-size: 1.875rem;
  }
}
.career__date::after {
  --s: 1.25rem;
  content: "";
  position: absolute;
  top: calc(50% - var(--s) / 2);
  right: calc(var(--gutter) * -1 - var(--s) / 2 - var(--line) / 2);
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background-image: radial-gradient(var(--color-lightgrey) 40%, transparent 45%), linear-gradient(135deg, var(--color-primary), var(--color-secondary));
}
.career__img {
  display: none;
}
@media screen and (min-width: 75rem) {
  .career__img {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 6.25rem;
    height: 75%;
    opacity: 0.15;
    filter: grayscale(1);
    pointer-events: none;
    transform: translateY(-50%);
    object-fit: contain;
  }
}
.career .icon {
  display: none;
}
@media screen and (min-width: 36rem) {
  .career .icon {
    display: inline;
    margin-right: var(--sp);
    vertical-align: middle;
    color: var(--color-primary-lightest);
  }
}

/*# sourceMappingURL=index.css.map */