@charset "UTF-8";
/** -----------------------------------------------------------
 *
 * Combination of all files that do not generate CSS.
 * Used for styles files in scss/pages/
 * 
 */
/** --------------------------------------------
 * 
 * Enable/disable imports
 * 
 -------------------------------------------- */
/**
 * Form
 */
/**
 * HTML Elements
 */
/**
 * Objects
 */
/**
 * Components
 */
/**
 * Patterns
 */
/**
 * Utilities
 */
/** --------------------------------------------
 * 
 * Grid
 * 
 -------------------------------------------- */
/**
 * Generic
 */
/**
 * Breakpoints
 */
/** --------------------------------------------
 * 
 *  /!\ Use it only for pages/ scss files
 * 
 -------------------------------------------- */
/** --------------------------------------------
 * 
 *  Fluid typo
 * 
 -------------------------------------------- */
/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
@media screen and (min-width: 75rem) {
  main > .container:first-of-type {
    --bg-pattern: #fcfcfc;
    background-color: #fff;
    background-image: linear-gradient(white, transparent), linear-gradient(var(--bg-pattern) 6px, transparent 0), linear-gradient(90deg, var(--bg-pattern) 6px, transparent 0), linear-gradient(var(--bg-pattern) 2px, transparent 0), linear-gradient(90deg, var(--bg-pattern) 2px, transparent 0);
    background-repeat: no-repeat, repeat, repeat, repeat, repeat;
    background-size: auto, 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  }
}

.highlighted-term {
  font-family: "Merriweather", Arial, sans-serif;
  font-weight: 700;
  background: linear-gradient(var(--color-secondary-lightest), var(--color-secondary-lightest)) bottom center/100% 40% no-repeat;
  padding-inline: var(--sp-1-4);
}

.create {
  --icon-s: 4rem;
  --b-c: var(--color-secondary-lightest);
  --b-w: 0.125rem;
  --browser-bar-h: 2rem;
  justify-content: center;
  margin-top: var(--sp-3);
}
@media screen and (min-width: 75rem) {
  .create > div:first-of-type {
    padding-right: 0;
  }
  .create > div:first-of-type > article {
    border-right: 0;
    border-top-left-radius: 0.5rem;
    background-image: linear-gradient(var(--color-grey), var(--color-grey));
    background-repeat: no-repeat;
    background-position: right calc(var(--browser-bar-h) + var(--p));
    background-size: 1px calc(100% - var(--p) * 2 - var(--b-w));
  }
  .create > div:first-of-type > article::before {
    --s: calc(var(--browser-bar-h) / 2);
    --o: calc(var(--browser-bar-h) / 4);
    background-image: radial-gradient(var(--color-grey) 50%, transparent 50%), radial-gradient(#fff 50%, transparent 50%), radial-gradient(var(--color-primary-light) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: var(--o) center, calc(var(--o) * 2 + var(--s)) center, calc(var(--o) * 3 + var(--s) * 2) center;
    background-size: var(--s) var(--s);
  }
  .create > div:last-of-type {
    padding-left: 0;
  }
  .create > div:last-of-type > article {
    border-left: 0;
    border-top-right-radius: 0.5rem;
  }
}
.create article {
  --p: var(--gutter);
  position: relative;
  width: 100%;
  padding: calc(var(--icon-s) / 2 + var(--p)) var(--p) var(--p);
  border: 0.125rem solid var(--b-c);
  margin-top: calc(var(--icon-s) / 2);
  border-radius: var(--radius);
}
@media screen and (min-width: 75rem) {
  .create article {
    --b-w: 2rem;
    border: var(--b-w) solid var(--color-grey);
    margin-top: 0;
    border-radius: 0;
    background-color: #fff;
  }
  .create article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--browser-bar-h);
    background-color: var(--color-primary);
  }
}
.create article svg {
  position: absolute;
  top: calc(var(--b-w) / -2);
  left: 50%;
  padding: 1rem;
  border-radius: 50%;
  overflow: visible;
  font-size: var(--icon-s);
  background-color: var(--b-c);
  color: var(--color-secondary-dark);
  translate: -50% -50%;
  aspect-ratio: 1;
}
@media screen and (min-width: 75rem) {
  .create article svg {
    position: static;
    translate: none;
    display: block;
    margin: 0 auto var(--sp-2);
  }
}

/*# sourceMappingURL=prestations.css.map */