extends ../../wrapper.pug

block vars
	- var currentPage = prestation[1]
	- var metaDesc = 'Vous souhaitez mettre en place une démarche d’amélioration de l’accessibilité sur votre projet ? Sensibilisation, audit, accompagnement.'

block og
	meta(property="og:url", content="https://alexis-degryse.com/prestations/"+currentPage)
	meta(property="og:title", content="Accessibilité numérique - Prestations - Alexis Degryse")
	meta(property="og:description", content=metaDesc)

block append styles
	link(href="/dest/css/pages/prestations.min.css", rel="stylesheet")
	link(href="/dest/css/pages/accessibilite.min.css", rel="stylesheet")

block title-page
	| Accessibilité numérique - Prestations - Alexis Degryse

block main
	div(class="container lg:pb-4")
		h1 Accessibilité numérique
		p(class="h4 fw-regular text-system lh-base md:text-center") Vous souhaitez mettre en place une démarche d’amélioration de l’<strong>accessibilité</strong> sur votre projet ?<br>Je peux <strong class="highlighted-term">sensibiliser</strong> vos équipes, <strong class="highlighted-term">auditer</strong> des livrables graphiques ou développements existants, ou tout simplement vous <strong class="highlighted-term">accompagner</strong> et vous conseiller tout au long de la vie de votre projet.
		.row.justify-center
			div(class="col-12 md:col-10 lg:col-8")
				section(class="border border-2 border-secondary-light radius bg-secondary-lightest p py-2 md:p-3 my-2 md:my-3 text-center")
					h2.h4.lh-base Vous ne savez pas en quoi consiste l’accessibilité numérique ? 
					button(type="button" class="btn btn--white btn--sm mt-0.5 js-disclosure" aria-expanded="false" aria-controls="what-is-a11y") 
						svg(aria-hidden="true")
							use(xlink:href="/dest/img/sprite.svg#icon-chevron-right")
						| Je vous explique 
					div(id="what-is-a11y")
						div(class="text-left pt-2 md:pt-3")
							h3.h4 Contexte
							p Le numérique c’est trop chouette ! Il facilite la recherche d’emploi, l’accès à l’information, les déplacements, l’apprentissage, etc. Bref, il apporte de l’autonomie et permet de participer plus facilement à la vie sociale et citoyenne.
							p <b>Vraiment ?</b> 
							p <b>Oui ! Mais seulement si</b> ce numérique est pensé dans sa conception pour tout le monde. 
							p Or, un trop grand nombre de produits et services numériques conçus, aujourd’hui et depuis des années, sans prendre en compte les personnes handicapées excluent cette large partie de la population du paysage numérique, restreignant leur participation à la société, instaurant ainsi un environnement discriminant sur tous les plans (social, citoyen, culturel, etc.)
							h3.h4 Quelques chiffres
							p En France, on estime à 18% la part de la population française présentant une forme ou une autre de handicap, soit environ <b>12 millions de français et françaises</b> (autrement dit 1 personne sur 6 !).
							p En 2023, 95,9% des pages d'accueil des 1.000.000 sites les plus visités présentent au moins une erreur d'accessibilité détectable automatiquement (Source : <a href="https://webaim.org/projects/million/" lang="en" aria-describedby="english-content">The WebAIM Million</a>).
							h3.h4 Constat
							p Au lieu de favoriser l’inclusion, <b>le numérique devient finalement un vecteur d’exclusion</b> pour la plus grande minorité au monde : les personnes handicapées.
							p L’<strong>accessibilité numérique</strong> signifie alors que les <strong>personnes handicapées</strong> peuvent <b>utiliser</b> le <strong>web</strong>, c’est-à-dire qu’elles peuvent percevoir, comprendre, naviguer, interagir avec le web et y contribuer.
							p L’accessibilité sert aussi aux personnes âgées. Avec l’âge peuvent survenir une baisse progressive de l’acuité visuelle et auditive, une diminution de la dextérité, une altération de nos capacités cognitives, etc.
							h3.h4 Historique
							p Elle est un <strong>droit fondamental</strong> issu du principe d’égalité des droits et des chances en faveur des personnes handicapées, inscrit à l’<strong>ONU</strong> depuis <b>2006</b> (<a href="https://www.ohchr.org/fr/instruments-mechanisms/instruments/convention-rights-persons-disabilities">Convention relative aux droits des personnes handicapées</a>) et dans la <strong>loi française</strong> depuis <b>2005</b>. 
							p Elle découle également du principe d’universalité voulu à la naissance du web par son inventeur il y a 30 ans (« <a href="https://www.w3c.fr/a-propos-du-w3c-france/la-mission-du-w3c/">un seul web partout et pour tous</a> »).
							p En France, l’<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000048050213">article 47 de la loi du 11 février 2005</a> pour « l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées » et le <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000038811937">décret d’application n°2019-768</a> du 24 juillet 2019 obligent les personnes morales de droit public et certaines entreprises privées à prendre en compte l’accessibilité dans leur stratégie numérique, notamment par la mise en conformité aux règles établies par le RGAA et la publication d’une déclaration d’accessibilité et d’un schéma pluriannuel de mise en accessibilité.
		div(class="row justify-center py-2")
			div(class="col-8 md:col-4 lg:col-5")
				img(src="/dest/img/svg/accessibilite-sensibilisation.svg" alt="" width="300" height="300" class="mx-a")
			section(class="col-12 md:col-8 lg:col-6")
				h2(class="h3 text-center md:text-left") <span class="highlighted-term">Sensibilisation</span> aux fondamentaux de l'accessibilité numérique
				p La vocation de cette sensibilisation est d’apporter les bases fondamentales au sujet de l’accessibilité numérique afin d’assimiler son historique, comprendre ses enjeux humains, connaître les besoins et les technologies d’assistance des personnes handicapées, appréhender le cadre légal, découvrir les normes et référentiels, acquérir un début de socle de bonnes pratiques impactantes non coûteuses et ses bénéfices.
				ul
					li <b>Format</b> : distanciel
					li <b>Durée</b> : 2 à 3 heures
					li <b>Tarif</b> : 200€ HT par personne <span class="fs-smaller">(TVA non applicable, article 293 B du CGI)</span>
					li <b>Profil</b> : tout profil ! Aucun prérequis nécessaire (si ce n'est vouloir oeuvrer pour un web plus éthique)
					li <b>Programme</b> :
						ol 
							li Découvrir l'accessibilité numérique <span class="fs-4">— Définitions, historique</span>
							li État de la situation <span class="fs-4">— Les types de handicaps, besoins et outils, chiffres, études</span>
							li Normes techniques 
								<span class="fs-4">— 
									+tooltip('w3c', 'W3C', 'World Wide Web Consortium', true)
									| , 
									+tooltip('wai', 'WAI', 'Web Accessibility Initiative', true)
									| , 
									+tooltip('wcag', 'WCAG', 'Web Content Accessibility Guidelines', true)
									| , 
									+tooltip('rgaa', 'RGAA', 'Référentiel général d\'amélioration de l\'accessibilité')
								</span>
							li La législation en France <span class="fs-4">— Obligations, entités concernées, sanctions, autorités de contrôle</span>
							li Focus sur le RGAA <span class="fs-4">— Méthodologie, conformité, réflexion et pondération</span>
							li « <span lang="en">Solid start</span> » <span class="fs-4">— Par où commencer en tant que concepteur ?</span>
							li Mythes et idées reçues <span class="fs-4">— Coût, design, responsabilités, cible</span>
		div(class="row justify-center d-none md:d-flex py text-center")
			div(class="md:col-8 lg:col-6 md:offset-4 lg:offset-5")
				hr.border-lightgrey
		div(class="row justify-center py-2")
			div(class="col-8 md:col-4 lg:col-5")
				img(src="/dest/img/svg/accessibilite-audit.svg" alt="" width="300" height="300" class="mx-a")
			section(class="col-12 md:col-8 lg:col-6")
				h2(class="h3 text-center md:text-left") <span class="highlighted-term">Audit</span> d’accessibilité numérique
				p
					a(href="https://certificate.bcdiploma.com/check/9329046CD54F5D79A35C2AAC63B752CA2CBB1166426AD12E5C4FF99DD2C7E27DZkcwTXd0cUl2K3gxdUllNHFNSkpIZFM2aEt5cnZkbjlUcWZoL3VYTDZ1c0tRZk1J") Consulter ma certification d'auditeur
				h3(class="h4") Audit rapide
				p Obtenez un diagnostic type « état des lieux » de votre site afin d’avoir une appréciation générale du niveau d’accessibilité.
				h3(class="h4") Audit de livrables UI/UX
				p Pour <span lang="en">wireframes</span>, maquettes, styles guide, <span lang="en">design system</span>.
				ul 
					li Analyse sur base de critères RGAA applicables
					li Rapport des relevés d’erreurs ou de manquements
					li Recommandations afin d’éviter de la dette d’accessibilité avant la phase de développement et d’intégration
				h3(class="h4") Audit de conformité RGAA
				ul 
					li Analyse de votre site basée sur les 106 critères du RGAA
					li Grille de conformité
					li Rapport d’audit contenant, pour chaque principale non-conformité :
						ul 
							li des explications des impacts sur les utilisateurs
							li des recommandations et/ou corrections à réaliser
					li Atelier de restitution pour les points les plus bloquants
					li Rédaction de la déclaration d’accessibilité
		div(class="row justify-center d-none md:d-flex py text-center")
			div(class="md:col-8 lg:col-6 md:offset-4 lg:offset-5")
				hr.border-lightgrey
		div(class="row justify-center py-2")
			div(class="col-8 md:col-4 lg:col-5")
				img(src="/dest/img/svg/accessibilite-accompagnement.svg" alt="" width="300" height="300" class="mx-a")
			section(class="col-12 md:col-8 lg:col-6")
				h2(class="h3 text-center md:text-left") <span class="highlighted-term">Accompagnement</span> et conseils
				p
					a(href="https://certificate.bcdiploma.com/check/921E87207432C080C751E426575A0C8DB9F9D647EEDE4F5D95B1090AD3C8DD04RWwzNXA3Y2RYbWtYUTl0N2UvRkZqblRraXplbkcxZVZCVXZpd05URHYrVEVFZUFl") Consulter ma certification de développeur
				ul 
					li Conception accessible de composants
					li Suivi de projets
					li Aide à la conception ou corrections post-audit 
	include ../../partials/_devis.pug  