/**
 * Base
 */
.btn {
	--px: #{rem(20px)};
	--py: calc(var(--px) / 2);
	--r: 0.5em;
	position: relative;
	z-index: 0;
	display: inline-flex;
	gap: var(--px);
	align-items: center;
	justify-content: center;
	padding: var(--py) var(--px);
	border: 0;
	border-radius: 50em;
	font-size: 1rem;
	font-weight: $bold;
	letter-spacing: 0.03125rem;
	background-color: var(--bg);
	color: var(--c);
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	//transition-timing-function: ease;
	//transition-duration: 0.2s;
	//transition-property: opacity, color, border-color, background-color, box-shadow;
	
	@include medium {
		font-size: 1.15rem;
	}

	&--primary {
		--bg: var(--color-primary);
		--c: #fff;
	}

	&--grey {
		--bg: var(--color-lightgrey);
		--c: var(--text-color);
		--icon-c: var(--color-grey);
	}

	&--white {
		--bg: #fff;
		--c: var(--text-color);
		--icon-bg: var(--text-color);
	}

	/**
	 * Colors
	 */
	@each $name, $color in($main-colors) {
		&--#{$name} {
			//--btn-bg: var(--color-#{$name});

			&:hover {
				//--btn-background: var(--color-#{$name}-dark);
			}

			&:focus-visible,
			&:active {

			}
		}
	}

	/**
	 * Expanded
	 */
	&--block {
		width: 100%;
	}

	/**
	 * With an icon 
	 */
	&:has(svg) {
		padding-left: var(--py);
	}

	svg {
		padding: rem(8px);
		border-radius: 50%;
		overflow: visible;
		font-size: 2em;
		background-color: var(--icon-bg, #fff);
		color: var(--icon-c, var(--bg));
	}	
}
