/**
 * Base
 */
.btn {
	--px: 1.09em;
	--py: calc(var(--px) / 2);
	--r: 0.5em;
	--fs: 1rem;
	position: relative;
	z-index: 0;
	display: inline-flex;
	gap: var(--px);
	align-items: center;
	justify-content: center;
	padding: var(--py) var(--px);
	border: 0;
	border-radius: 50em;
	font-size: var(--fs);
	font-weight: $bold;
	letter-spacing: 0.03125rem;
	background-color: var(--bg);
	color: var(--c);
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition-duration: 0.15s;
	transition-property: color, background-color, box-shadow;
	
	@include medium {
		font-size: calc(var(--fs) * 1.15);
	}

	&:hover {
		box-shadow: 0 0 0 0.125rem;
	}

	&--primary {
		--bg: var(--color-primary);
		--c: #fff;
		outline-color: var(--bg);

		&:hover {
			--bg: var(--color-primary-lightest);
			--c: var(--color-primary-dark);
		}
	}

	&--grey {
		--bg: var(--color-lightgrey);
		--c: var(--text-color);
		--icon-c: var(--color-grey);

		&:hover {
			--bg: var(--color-secondary-lightest);
			--c: var(--text-color);
			--icon-c: var(--bg);
		}
	}

	&--white {
		--bg: #fff;
		--c: var(--text-color);
		--icon-bg: var(--c);

		.bg-primary & {
			outline-color: #fff;
		}

		&:hover {
			--bg: var(--color-black);
			--c: #fff;
		}
	}

	// &--secondary {
	// 	--bg: var(--color-secondary);
	// 	--c: var(--text-color);
	// }

	// &--dark {
	// 	--bg: var(--color-black);
	// 	--c: #fff;
	// }

	/**
	 * Expanded
	 */
	&--block {
		width: 100%;
	}

	/**
	 * Size
	 */
	&--sm {
		--fs: #{rem(14px)};
	}

	/**
	 * With an icon 
	 */
	&:has(svg) {
		padding-left: var(--py);

		&::before { // need this for safari...
			content: '';
			position: absolute;
			left: var(--py);
			z-index: -1;
			width: 2em;
			border-radius: 50%;
			background-color: var(--icon-bg, #fff);
			aspect-ratio: 1;
			transition: inherit;
		}
	}

	svg {
		padding: rem(8px);
		overflow: visible;
		font-size: 2em;
		color: var(--icon-c, var(--bg));
		transition: inherit;
	}	
}
