blockquote {
	--m-b: 1em;
	margin: 0 calc(var(--m-b) * var(--phi)) var(--m-b);
	quotes: '\0022' '\0022';

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}
