@include font-face('Merriweather', 'Merriweather-Regular', $regular, normal, swap); 
@include font-face('Merriweather', 'Merriweather-Bold', $bold, normal, swap); 

:root {
	--phi: 1.618;
}

body {
	--text-color: #{$black};
	font-family: system-ui, sans-serif;
	background-color: #fff;
	color: var(--text-color);
}

