h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
	@include fluid-fs(var(--min), var(--max));
	font-family: $heading-font-family;
	margin-block: 1.25em 1em;
	font-weight: $bold;
	line-height: 1.2;
	text-wrap: balance;

	&:first-child { margin-top: 0; }

	&:only-child,
	&:last-child { margin-bottom: 0; }
} 

h1,
.h1 {
	--min: #{rem(33px, true)};
	--max: #{rem(37px, true)};
} 

h2,
.h2 {
	--min: #{rem(26px, true)};
	--max: #{rem(29px, true)};
} 

h3,
.h3 {
	--min: #{rem(20px, true)};
	--max: #{rem(23px, true)};
} 

h4,
.h4 {
	--min: #{rem(16px, true)};
	--max: #{rem(18px, true)};
}
