a,
.btn-as-link {
	text-decoration: none;
	color: var(--color-primary);
	transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-property: color, border-color, background-color;

	:is(p, ul, ol, blockquote) & {
		text-decoration: underline;
	}
}

.btn-as-link {
	appearance: none;
	padding: 0;
	border: 0;
	line-height: inherit;
	background-color: transparent;
	cursor: pointer;
}
