a,
.btn-as-link {
	text-decoration: none;
	color: var(--color-primary);
	transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-property: color, border-color;

	p & {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}

		&:focus-visible {
			outline-color: currentColor;
			outline-style: dotted;
			outline-width: rem(2px);
		}
	}
}

.btn-as-link {
	appearance: none;
	padding: 0;
	border: 0;
	line-height: inherit;
	background-color: transparent;
	cursor: pointer;
}
