ol {		
	li {
		&::marker {
			font-weight: $bold;
		}
	}
}  

ul,
ol {
	padding-left: 0;
	list-style-position: inside;

	ul,
	ol {
		padding-left: var(--sp);
		margin-block: 0;
	}
}

ul {
	::marker {
		color: var(--color-grey);
	}
}

ol {
	::marker {
		color: var(--color-primary);
	}
}

.list-unstyled {
	list-style: none;

	ul,
	ol {
		padding-left: 0;
		margin-top: 0;
		list-style: none;
	}
}
