extends ../wrapper.pug

block vars
	- var metaDesc = 'Le site alexis-degryse.com est la propriété de et édité par Alexis Degryse, auditeur et intégrateur web freelance, détenteur de la micro-entreprise éponyme.'

block og
	meta(property="og:url", content="https://alexis-degryse.com/mentions-legales")
	meta(property="og:title", content="Mentions légales - Alexis Degryse - Conception web et accessibilité numérique")
	meta(property="og:description", content=metaDesc)

block prepend title-page
	| Mentions légales - 

block main
	.container
		h1 Mentions légales
		.row.justify-center
			div(class="col-12 sm:col-10 lg:col-8")
				h2.h3 Informations
				p Le site alexis-degryse.com est la propriété de Alexis Degryse (également responsable de la publication), auditeur et intégrateur web freelance, détenteur de la micro-entreprise éponyme.
				ul
					li Entrepreneur individuel en micro-entreprise
					li SIREN : 931 007 991
					li APE : 6201Z
					li TVA non applicable, article 293 B du CGI
					li E-mail : <a href="mailto:alexis.degryse@gmail.com">alexis.degryse@gmail.com</a> 
				h2.h3 Hébergement
				p L'intégralité du site est hébergé à l'aide de <a href="https://pages.github.com/" lang="en" aria-describedby="english-content">GitHub Pages</a>.
				h2.h3 Nom de domaine
				p Le nom de domaine est fourni par Hostinger.
				ul
					li Adresse : 61 Lordou Vironos str., 6023 Larnaca, Cyprus
					li E-mail : <a href="mailto:support@hostinger.com">support@hostinger.com</a>
					li Site : <a href="https://www.hostinger.fr/" >hostinger.fr</a>
				h2.h3#collecte-donnees Collecte de données
				p Le site ne collecte aucune donnée personnelle par l'intermédiaire de cookies.
				p Les seules données collectées sont les suivantes :
				ul
					li Les adresses IP sont enregistrées et anonymisées par l'hébergeur GitHub Pages (pour des raisons de sécurité).
					li Les noms prénoms et adresses emails saisies dans le <a href="/contact">formulaire de contact</a> (dans l'unique but de répondre aux messages qui me sont envoyés via ce formulaire). Ces informations ne sont pas conservées en aval des échanges et ne feront jamais l'objet ni d'un transfert ou revente à un tiers ni d'une prospection commerciale. <br>Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles, que vous pouvez exercer à tout moment en me contactant à <a href="mailto:alexis.degryse@gmail.com">alexis.degryse@gmail.com</a>.
				h2.h3 Mesure d'audience
				p Le site utilise le service <a href="https://withcabin.com/" aria-describedby="english-content">Cabin</a> pour le suivi analytique de son trafic. <br>Cabin est axé sur la protection de la vie privée et la réduction de l'empreinte carbone, il n'utilise ni cookies ni identifiants uniques (UID), garantissant ainsi que les données des utilisateurs restent anonymes.
				h2.h3 Accessibilité
				p Si vous rencontrez un problème de consultation ou d'utilisation avec ce site, n'hésitez pas à me contacter à l'adresse <a href="mailto:alexis.degryse@gmail.com">alexis.degryse@gmail.com</a>.
