:where(.js-disclosure:not([aria-expanded='true']) + *) {
	height: 0;
	visibility: hidden;
}

.js-disclosure + * {
	overflow: hidden;
	@supports (interpolate-size: allow-keywords) {
		transition: 0.4s ease;
		transition-property: height, visibility;
	}
}

.js-disclosure:has(.chevron) { // sass-lint:disable
	&[aria-expanded='true'] {
		--i: 1;
	}

	svg {
		transform: rotate(calc(180deg * var(--i, 0)));
		transition: transform 0.2s;
	}
}
