.tooltip {
	all: unset;
	border: 1px dotted transparent;
	border-bottom-color: initial;
	cursor: pointer;

	&:focus-visible {
		outline: auto;
	}

	&:has(+ span:popover-open) {
		border-color: initial;
	}

	+ span { 
		all: unset;
		position: absolute;
		z-index: 100;
		padding: var(--sp-1-2);
		border: 1px solid #fff;
		font-family: $heading-font-family;
		font-size: rem(14px);
		text-align: center;
		background-color: var(--color-primary-dark);
		color: #fff;

		@supports (position-area: bottom) {
			visibility: hidden;
			position-area: bottom;
			position-try: right, left, end;
		}

		@supports not (position-area: bottom) {
			display: none;
		}

		@include medium {
			max-width: 20ch;
		}

		&:popover-open {
			@supports (position-area: bottom) {
				visibility: visible;
			}

			@supports not (position-area: bottom) {
				display: block;
			}
		}
	}
}
